@use "../utils/variable" as *;
@use "../utils/mixin" as *;

.button {
  background-color: $c-green;
  outline: none;
  border-radius: 30px;
  border: none;
  padding: 0.5em 1.5em;
  cursor: pointer;
  color: white;
  font-weight: $font-weight-semiBold;
  &-bigtext {
    font-size: $font-size-medium;
    font-weight: $font-weight-black;
    font-style: italic;
    color: white;
    display: block;
    width: fit-content;
    margin: 0 auto;
  }

  &-menu {
    margin-top: 3em;
    text-decoration: none;
    @include md {
      margin-top: 0;
      margin-left: 3em;
    }
  }
  &-outils {
    margin-top: 3rem;
  }

  &-filter {
    background-color: $c-grey;
    color: white;
    text-decoration: none;
    &.active {
      background-color: $c-green;
      text-decoration: underline;
    }
    &.reset {
      background-color: $c-red;
    }
  }
}
