@use "../utils/variable" as *;
@use "../utils/mixin" as *;

.button {
  background-color: $c-green;
  outline: none;
  border-radius: 30px;
  border: none;
  padding: 0.5em 1.5em;
  cursor: pointer;
  color: white;
  font-weight: $font-weight-semiBold;
  &-bigtext {
    font-size: $font-size-medium;
    font-weight: $font-weight-black;
    font-style: italic;
    color: white;
    display: block;
    width: fit-content;
    margin: 0 auto;
  }

  &-menu {
    margin-left: 3em;
    text-decoration: none;
  }
}
