.wrapper {
  &-equipe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;

    .equipe {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 200px;
      .name {
        font-weight: bold;
        font-size: 1.1rem;
      }
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }

      p {
        margin: 0.2rem 0;
      }

      div {
        a img {
          border-radius: 0;
          width: 28px;
          height: 24px;
          margin: 10px;
          transform: scale(0.7);
        }
      }
    }
  }
}
