@use "../utils/variable" as *;
@use "../utils/mixin" as *;
body {
  overflow-x: hidden;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
html {
  font-family: $font-primary;
  font-size: 81.25%;
}
.title {
  margin-bottom: 1rem;
  font-size: $font-size-title;
  font-weight: $font-weight-black;
  &-medium {
    font-size: $font-size-medium;
    font-weight: $font-weight-semiBold;
  }
  &-big {
    font-size: $font-size-big;
    font-weight: $font-weight-black;
  }
  &-footer {
    color: $c-green;
  }
}
.section {
  width: 100vw;

  padding: 2rem 1rem;

  &-green {
    background-color: $c-green;
  }
  &-contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 2rem;
  }
}

.content {
  max-width: 909px;
  margin: 0 auto;
  &-double {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    @include md {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }
}
.wrapper {
  &-contact {
    display: flex;
    flex-flow: row-reverse nowrap;
    gap: 2rem;
  }
}
.list {
  &-contact {
    display: flex;
    flex-flow: row;
    li {
      margin: 1rem;
    }

    img {
      width: 25px;
    }
  }
}
article {
  max-width: 909px;
  margin: 0 auto;
}
