@use "../utils/mixin" as *;
@use "../utils/variable" as *;

.nav_custom {
  background-color: white;
  position: fixed;
  top: 0;
  left: 150vw;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include md {
    position: unset;
    width: unset;
    height: unset;
    flex-flow: row nowrap;
  }
  .menu-fcjmp_basic-container {
    .menu {
      display: flex;
      flex-flow: column nowrap;
      gap: 0.7rem;

      @include md {
        place-items: center;
        position: relative;
        flex-flow: row nowrap;
      }
      &-item {
        padding: 1rem 0;
      }
      .sub-menu {
        background-color: white;
        margin-left: 0.7rem;
        margin-top: 0.7rem;
        display: flex;
        flex-flow: column nowrap;
        gap: 0.7rem;

        @include md {
          transition: opacity 0.3s ease, transform 0.3s ease;
          opacity: 0;
          transform: translateY(-10px);
          visibility: hidden;
          position: absolute;
          padding: 1rem;
          border-radius: 1rem;
        }

        a {
          margin: 0.7rem;
          padding: 0.5rem;
        }
      }

      a {
        margin: 0.7rem;
        color: black;
        font-weight: $font-weight-bold;
        text-decoration: none;
      }
    }
  }
  &--open {
    left: 0vw;
  }
}
.menu-item-has-children a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.chevron-icon {
  display: flex;
  flex-flow: column;
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  img {
    transition: transform 0.3s ease;
    transform: translateY(-20px);
  }
}

.menu-item-has-children:hover {
  .sub-menu {
    opacity: 1 !important;
    visibility: visible !important;
    transform: translateY(0) !important;
  }
  .chevron-icon {
    img {
      transform: translateY(0px);
    }
  }
}
